[Unit]
Description=DocumentDB self-managed PostgreSQL
After=network.target
ConditionPathExists=/etc/documentdb/documentdb-postgresql.env

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/share/documentdb/scripts/documentdb_postgresql_service.sh start
ExecStop=/usr/share/documentdb/scripts/documentdb_postgresql_service.sh stop
TimeoutStartSec=120
TimeoutStopSec=120

[Install]
WantedBy=multi-user.target
